openapi: 3.1.0
info:
  title: what is up, docs API
  version: 0.1.0
  description: API contract for docs search, grounded answers, and source freshness.
servers:
  - url: https://api.whatisupdocs.com
    description: Production
  - url: http://localhost:8080
    description: Local development
paths:
  /v1/search:
    post:
      summary: Search documentation snippets
      operationId: searchDocs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchRequest'
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/answer:
    post:
      summary: Generate grounded answer with citations
      operationId: answerWithSources
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnswerRequest'
      responses:
        '200':
          description: Grounded answer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnswerResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/sources:
    get:
      summary: List source health and freshness
      operationId: listSources
      responses:
        '200':
          description: Source health list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSourcesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/sources/sync:
    post:
      summary: Trigger immediate source sync
      operationId: triggerSourceSync
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SourceSyncRequest'
      responses:
        '202':
          description: Sync accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceSyncResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/changes:
    get:
      summary: List detected documentation changes
      operationId: listChanges
      parameters:
        - in: query
          name: source
          schema:
            type: string
        - in: query
          name: event_type
          schema:
            type: string
            enum: [document_added, updated, deprecation, breaking_change]
        - in: query
          name: severity
          schema:
            type: string
            enum: [low, medium, high, critical]
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: Change events
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListChangesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/metrics/summary:
    get:
      summary: Summarize reliability and latency telemetry for the current tenant
      operationId: getTelemetrySummary
      parameters:
        - in: query
          name: days
          schema:
            type: integer
            minimum: 1
            maximum: 90
      responses:
        '200':
          description: Telemetry summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TelemetrySummaryResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/alerts/slack/test:
    post:
      summary: Send a Slack test notification for onboarding/webhook verification
      operationId: sendSlackTestAlert
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SlackTestAlertRequest'
      responses:
        '202':
          description: Test alert accepted and sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SlackTestAlertResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Unauthorized'
  /v1/audit/export:
    get:
      summary: Export tenant telemetry audit events
      operationId: exportAuditEvents
      parameters:
        - in: query
          name: from
          schema:
            type: string
            format: date-time
        - in: query
          name: to
          schema:
            type: string
            format: date-time
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 5000
        - in: query
          name: format
          schema:
            type: string
            enum: [json, ndjson]
      responses:
        '200':
          description: Audit export
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditExportResponse'
            application/x-ndjson:
              schema:
                type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/policy/observability:
    get:
      summary: Tenant policy effectiveness and risk observability snapshot
      operationId: getPolicyObservability
      responses:
        '200':
          description: Policy observability
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyObservabilityResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/slack/commands:
    post:
      summary: Slack slash-command webhook endpoint
      operationId: slackCommands
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: string
      responses:
        '200':
          description: Immediate Slack command acknowledgement
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1/slack/events:
    post:
      summary: Slack Events API webhook endpoint
      operationId: slackEvents
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Slack event acknowledgement
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    SearchRequest:
      type: object
      required: [query]
      properties:
        query:
          type: string
          minLength: 2
        filters:
          $ref: '#/components/schemas/QueryFilters'
        top_k:
          type: integer
          minimum: 1
          maximum: 50
          default: 10
    QueryFilters:
      type: object
      properties:
        sources:
          type: array
          items:
            type: string
        version:
          type: string
          description: e.g. latest, 14, 3.0
        updated_after:
          type: string
          format: date-time
        language:
          type: string
          description: content language filter
        region:
          type: string
          description: region context (e.g. us, eu, uk)
        plan:
          type: string
          description: product or API plan context
        deployment_type:
          type: string
          description: deployment mode context (e.g. cloud, self-hosted)
        cloud:
          type: string
          description: cloud provider context (e.g. aws, gcp, azure)
        reference_date:
          type: string
          format: date-time
          description: answer as-of date context
    SearchResult:
      type: object
      required:
        - chunk_id
        - score
        - text
        - title
        - url
        - source
        - last_changed_at
      properties:
        chunk_id:
          type: string
        score:
          type: number
        text:
          type: string
        title:
          type: string
        url:
          type: string
          format: uri
        source:
          type: string
        version_tag:
          type: string
          nullable: true
        last_changed_at:
          type: string
          format: date-time
    SearchResponse:
      type: object
      required: [results]
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/SearchResult'
    AnswerRequest:
      type: object
      required: [question]
      properties:
        question:
          type: string
          minLength: 3
        filters:
          $ref: '#/components/schemas/QueryFilters'
        style:
          type: string
          enum: [concise, detailed]
          default: concise
        max_citations:
          type: integer
          minimum: 1
          maximum: 10
          default: 5
    Citation:
      type: object
      required: [title, url, source, last_changed_at]
      properties:
        title:
          type: string
        url:
          type: string
          format: uri
        source:
          type: string
        version_tag:
          type: string
          nullable: true
        last_changed_at:
          type: string
          format: date-time
    FreshnessSummary:
      type: object
      required: [generated_at, max_source_age_minutes]
      properties:
        generated_at:
          type: string
          format: date-time
        max_source_age_minutes:
          type: integer
          minimum: 0
    DecisionEnvelope:
      type: object
      required: [status, confidence, uncertainties, policy_flags, actionability]
      properties:
        status:
          type: string
          enum: [grounded, insufficient_sources, stale_sources, conflict_detected, unsafe_content, policy_blocked]
        confidence:
          type: number
          minimum: 0
          maximum: 1
        uncertainties:
          type: array
          items:
            type: string
        policy_flags:
          type: array
          items:
            type: string
        actionability:
          type: object
          required: [recommended_next_steps]
          properties:
            recommended_next_steps:
              type: array
              items:
                type: string
    AnswerResponse:
      type: object
      required: [answer, citations, freshness, warnings, decision]
      properties:
        answer:
          type: string
        citations:
          type: array
          items:
            $ref: '#/components/schemas/Citation'
        freshness:
          $ref: '#/components/schemas/FreshnessSummary'
        warnings:
          type: array
          items:
            type: string
        decision:
          $ref: '#/components/schemas/DecisionEnvelope'
    SourceStatus:
      type: object
      required: [source, status, last_sync_at, lag_minutes]
      properties:
        source:
          type: string
        status:
          type: string
          enum: [healthy, degraded, failing]
        last_sync_at:
          type: string
          format: date-time
        lag_minutes:
          type: integer
          minimum: 0
        error:
          type: string
          nullable: true
    ListSourcesResponse:
      type: object
      required: [sources]
      properties:
        sources:
          type: array
          items:
            $ref: '#/components/schemas/SourceStatus'
    SourceSyncRequest:
      type: object
      required: [source]
      properties:
        source:
          type: string
    SourceSyncResponse:
      type: object
      required: [accepted, source, requested_at]
      properties:
        accepted:
          type: boolean
        source:
          type: string
        requested_at:
          type: string
          format: date-time
    ChangeEvent:
      type: object
      required: [id, source, canonical_url, title, event_type, severity, summary, details, recommended_actions, detected_at]
      properties:
        id:
          type: string
        source:
          type: string
        canonical_url:
          type: string
          format: uri
        title:
          type: string
        event_type:
          type: string
          enum: [document_added, updated, deprecation, breaking_change]
        severity:
          type: string
          enum: [low, medium, high, critical]
        summary:
          type: string
        details:
          type: object
          additionalProperties: true
        recommended_actions:
          type: array
          items:
            type: string
        detected_at:
          type: string
          format: date-time
    ListChangesResponse:
      type: object
      required: [changes]
      properties:
        changes:
          type: array
          items:
            $ref: '#/components/schemas/ChangeEvent'
    TelemetrySummary:
      type: object
      required: [window_days, total_requests, total_answers, grounded_answers, abstained_answers, avg_latency_ms]
      properties:
        window_days:
          type: integer
          minimum: 1
        total_requests:
          type: integer
          minimum: 0
        total_answers:
          type: integer
          minimum: 0
        grounded_answers:
          type: integer
          minimum: 0
        abstained_answers:
          type: integer
          minimum: 0
        avg_latency_ms:
          type: number
          minimum: 0
    TelemetrySummaryResponse:
      type: object
      required: [summary]
      properties:
        summary:
          $ref: '#/components/schemas/TelemetrySummary'
    SlackTestAlertRequest:
      type: object
      properties:
        webhook_url:
          type: string
          format: uri
          description: Optional webhook override (allowed only when explicitly enabled).
        source:
          type: string
        message:
          type: string
          maxLength: 2000
    SlackTestAlertResponse:
      type: object
      required: [ok, webhook_target, sent_at]
      properties:
        ok:
          type: boolean
        webhook_target:
          type: string
          enum: [default, override]
        sent_at:
          type: string
          format: date-time
    AuditEvent:
      type: object
      required: [id, tenant_id, endpoint, auth_subject, latency_ms, http_status, metadata, created_at]
      properties:
        id:
          type: string
        tenant_id:
          type: string
        endpoint:
          type: string
        auth_subject:
          type: string
        latency_ms:
          type: integer
        http_status:
          type: integer
        decision_status:
          type: string
          nullable: true
        metadata:
          type: object
          additionalProperties: true
        created_at:
          type: string
          format: date-time
    AuditExportResponse:
      type: object
      required: [tenant_id, count, events]
      properties:
        tenant_id:
          type: string
        count:
          type: integer
          minimum: 0
        events:
          type: array
          items:
            $ref: '#/components/schemas/AuditEvent'
    PolicyObservabilityResponse:
      type: object
      required: [tenant_id, policy, source_coverage, last_7d]
      properties:
        tenant_id:
          type: string
        policy:
          type: object
          additionalProperties: true
        source_coverage:
          type: object
          required: [total_sources, effective_sources, denied_sources]
          properties:
            total_sources:
              type: integer
            effective_sources:
              type: integer
            denied_sources:
              type: integer
        last_7d:
          type: object
          required: [total_requests, policy_blocked_decisions, forbidden_requests, stale_decisions, unsafe_decisions]
          properties:
            total_requests:
              type: integer
            policy_blocked_decisions:
              type: integer
            forbidden_requests:
              type: integer
            stale_decisions:
              type: integer
            unsafe_decisions:
              type: integer
    ErrorResponse:
      type: object
      required: [error, message]
      properties:
        error:
          type: string
        message:
          type: string
  responses:
    BadRequest:
      description: Invalid request payload
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Invalid or missing credentials
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
security:
  - bearerAuth: []
